---
import Layout from "../layouts/Layout.astro";
import ReviewsSection from "../lib/ReviewsSection.astro";
import BackgroundVideo from "../components/BackgroundVideo.svelte";
---

<Layout>
  <Fragment name="meta">
    <title>Velotour Festival</title>
    <meta
      property="og:description"
      content="100 passioné.e.s de vélo venant de toute la Belgique se rassembleront pour rouler ensemble pendant 3 jours, partager leur passion et surtout, passer un bon moment ensemble."
    />
    <meta
      property="og:keywords"
      content="bicycle touring, Belgium, cycling, festival, bicycle"
    />
    <meta
      name="twitter:description"
      content="100 passioné.e.s de vélo venant de toute la Belgique se rassembleront pour rouler ensemble pendant 3 jours, partager leur passion et surtout, passer un bon moment ensemble."
    />
    <meta
      name="twitter:image"
      content="https://github.com/welcometomygarden/tourfestival/blob/master/images/WTMG-tourfestival-logo.png?raw=true"
    />
    <meta property="og:url" content="https://velotourfestival.be/fr" />
    <meta name="twitter:url" content="https://velotourfestival.be/fr" />
  </Fragment>

  <!-- Page Wrapper -->
  <!-- Header -->
  <header id="header" class="alt">
    <h1><a href="index.html">Velotour Festival</a></h1>
    <nav id="nav">
      <ul>
        <li class="special">
          <a href="#menu" class="menuToggle"><span>Menu</span></a>
          <div id="menu">
            <ul>
              <li>
                <a href="fr.html">Page principale</a>
              </li>
              <li>
                <a href="code-of-conduct-fr.html">Règlement du festival</a>
              </li>
              <li>
                <a href="budget-fr.html">Prix par participant.e</a>
              </li>
              <!-- <li><a href="#">Sign Up</a></li>
															<li><a href="#">Log In</a></li> -->
            </ul>
          </div>
        </li>
      </ul>
    </nav>
    <a href="nl.html"><button class="btn-nl">NL</button></a>
    <a href="fr.html"
      ><button class="btn-fr" body style="background-color: #E48F2C">FR</button
      ></a
    >
    <a href="index.html"><button class="btn-eng">EN</button></a>
  </header>

  <!-- Banner -->
  <section id="banner">
    <BackgroundVideo client:only="svelte" />
    <div class="banner__logo">
      <img
        src="./images/Velotourfestival-logo.png"
        alt="Velotour Festival logo"
      />
    </div>
    <div class="inner">
      <h2>Velotour Festival</h2>
      <p>
        Un voyage à vélo de 3 jours en Belgique, du 15 au 17 mai et du 23 au 25
        mai 2026.
        <!-- crafted by <a href="http://html5up.net">HTML5 UP</a>.</p>-->
      </p>
    </div>
    <ul class="actions special register-now">
      <li>
        <a
          href="https://register.velotourfestival.be/fr"
          target="_blank"
          class="button primary">Inscrivez-vous</a
        >
      </li>
    </ul>
    <p class="favourite-weekend">
      "Mon week-end préféré de l'année !"<br />
    </p>
    <a href="#one" class="more scrolly">En savoir plus</a>
  </section>

  <!-- One -->
  <section id="one" class="wrapper style1 special">
    <div class="inner">
      <header class="major">
        <h2>
          Le sixième Velotour Festival se déroulera sur deux week-ends (même
          itinéraire) en 2026
        </h2>
        <p>
          100 passionné·es de vélo se rassembleront pour un voyage à vélo de 3
          jours en Belgique, partager leur enthousiasme pour le voyage lent et
          passer un bon moment ensemble. Vous pouvez choisir entre deux longs
          week-ends : du 15 au 17 mai et du 23 au 25 mai 2026. Ce festival est
          organisé par Welcome To My Garden and sa communauté.
        </p>
      </header>
      <!--
				<ul class="icons major">
				<li><span class="icon fa-bell major style1"><span class="label">Lorem</span></span></li>
				<li><span class="icon fa-heart major style2"><span class="label">Ipsum</span></span></li>
				<li><span class="icon solid fa-code major style3"><span class="label">Dolor</span></span></li>
				</ul>
			-->
    </div>
  </section>

  <!-- Two -->
  <section id="two" class="wrapper alt style2">
    <section class="spotlight">
      <div class="image">
        <img src="images/departure.png" alt="" />
      </div><div class="content">
        <h2>Jour 1</h2>
        <p>
          Rendez-vous à 10h à côté d’une gare facilement accessible. Après un
          court briefing, départ pour la première journée (40, 60 ou 80 km). Au
          soir, nous nous rassemblons pour partager un bon repas, des histoires,
          des idées et de l’inspiration. Camping dans un petit village.
        </p>
      </div>
    </section>
    <section class="spotlight">
      <div class="image">
        <img src="images/Camping.png" alt="" />
      </div><div class="content">
        <h2>Jour 2</h2>
        <p>
          Après un bon petit-déjeuner, départ pour une journée de 40, 60 ou 80
          km en direction de notre deuxième destination. Souper suivi d'un
          moment ensemble pour apprendre à se connaître ! On campe à nouveau le
          soir.
        </p>
      </div>
    </section>
    <section class="spotlight">
      <div class="image">
        <img src="images/cycling_velotour.png" alt="" />
      </div><div class="content">
        <h2>Jour 3</h2>
        <p>
          Dernier petit-déjeuner ensemble avant la dernière journée de vélo. Le
          festival se termine près d'une gare facilement accessible. Pot d’adieu
          et on se dit à l’année prochaine !
        </p>
      </div>
    </section>
  </section>

  <!-- Three -->
  <section id="three" class="wrapper style3 special">
    <div class="inner">
      <header class="major">
        <h2>Tout ce que vous devez savoir.</h2>
        <p>
          Avoir des bonnes attentes crée des bons amis. Merci de lire cette
          section FAQ avec attention pour savoir dans quoi vous vous mettez !
        </p>
      </header>
      <ul class="features">
        <li class="icon fa-heart">
          <h3>Pourquoi ce festival</h3>
          <p>
            Explorer le monde à vélo vous donne un sentiment de liberté
            incroyable. C’est une manière unique de découvrir un pays. Alors
            pourquoi ne pas combiner cela en rencontrant d’autres
            cyclo-enthousiastes ?<br /><br />Le Velotour Festival donne
            l’opportunité de voyager en Belgique tout en rencontrant de
            nouvelles personnes !
          </p>
        </li>
        <li class="icon fa-paper-plane">
          <h3>Pour qui ?</h3>
          <p>
            Pour les curieux et curieuses qui veulent découvrir le monde du
            voyage à vélo et pour les voyageurs et voyageuses qui souhaitent
            partager leur passion et leurs histoires !
            <br /><br />De la voyageuse ou voyageur solitaire à la famille
            entière, tout le monde est le/la bienvenu.e. Par contre, si vous
            venez avec vos 5 meilleurs ami.e.s, on doute que vous ayez encore du
            temps pour rencontrer d’autres personnes et là est bien le but du
            festival !
          </p>
        </li>
        <li class="icon fa-paper-plane">
          <h3>Equipement</h3>
          <p>
            Vous roulez avec votre vélo et devez portez votre propre matériel de
            camping (tente, sac de couchage, matelas) dans vos sacoches.
            Cependant, ne pas posséder ce matériel ne doit pas être un frein à
            votre participation ! Demandez autour de vous ou laissez un
            commentaire dans la fiche d’inscription.
          </p>
        </li>
        <li class="icon solid fa-laptop">
          <h3>Frais de participation</h3>
          <p>
            140€ par personne (70€ par enfant et gratuit pour les enfants de
            -2ans) comprenant 2 petits-déjeuners, 2 dîners, une assurance de
            groupe de responsabilité civile, les activités sociales et toilettes
            sèches. Le midi et les boissons ne sont pas comprises.<br /><br />
            <a href="budget-fr.html">Le budget complet peut être trouvé ici</a>.
          </p>
        </li>
        <li class="icon solid fa-headphones-alt">
          <h3>Itinéraire</h3>
          <p>
            3 jours de vélo de 40, 60 ou 80 km. Nous ne roulons pas en peloton
            maiss en petits groupes. Vous recevrez tous les détails de
            l’itinéraire pendant le briefing du premier jour.
          </p>
        </li>
        <li class="icon fa-heart">
          <h3>Activités</h3>
          <p>
            Le soir, activités sociales autour du vélo (projection de film,
            présentation de voyage, concert). Ces activités ne seront pas juste
            à côté des tentes pour que ceux et celles qui souhaitent se reposer
            puissent le faire !
          </p>
        </li>
        <li class="icon fa-thumbs-up">
          <h3>Organisation</h3>
          <p>
            Le festival est un événement de communauté. Pendant le festival, les
            participant.e.s sont aussi bénévoles (le matin ou le soir). Tout le
            monde contribue à faire du festival une réussite !<br /><br />
            Votre inscription ne peut pas être remboursée ou revendue à quelqu'un
            d'autre. Si vous annulez votre participation au moins deux semaines avant
            l'événement, vous pourrez recevoir un bon pour un futur Velotour. Vous
            ne pouvez changer de week-end que s’il y a encore des disponibilités.
          </p>
        </li>
        <li class="icon fa-thumbs-up">
          <h3>Assurance</h3>
          <p>
            Bien que les bénévoles soient couverts par une assurance de
            responsabilité civile et d'accidents corporels, et les participants
            sont couverts par une assurance de base d'accidents corporels, vous
            êtes responsable de votre propre personne et chaque participant.e
            devra signer un disclaimer le premier jour. Le code de la route est
            à respecter à chaque instant.
          </p>
        </li>
        <li class="icon fa-thumbs-up">
          <h3>Code de conduite</h3>
          <p>
            Le but du Velotour Festival est de rencontrer des nouvelles
            personnes et d’apprendre à se connaître. Les participant.e.s doivent
            être ouvert.e.s aux autres et être d’accord avec le <a
              href="code-of-conduct-fr.html">code de conduite du festival</a
            >.
          </p>
        </li>
        <li class="icon fa-thumbs-up">
          <h3>Langues</h3>
          <p>
            Le Velotour Festival est organisé à la belge avec un mix de
            français, d'allemand, de néerlandais et d’anglais. Quelque soit la
            langue que vous parlez, on trouvera toujours un manière de
            communiquer !
          </p>
        </li>
      </ul>
    </div>
  </section>
  <ReviewsSection>
    <Fragment slot="title">Ce que disent les participants</Fragment>
  </ReviewsSection>

  <!-- CTA -->
  <section id="cta" class="wrapper style4">
    <div class="inner">
      <header>
        <h2>Alors,toujours partant·e?</h2>
        <p>
          Inscrivez-vous maintenant car c’est le/la premièr·e arrivé·e qui est
          le/la premièr·e servi·e !<br />En espérant vous rencontrer au Velotour
          Festival !
        </p>
      </header>
      <ul class="actions stacked">
        <li>
          <a
            href="https://register.velotourfestival.be/fr"
            target="_blank"
            class="button fit primary">Inscrivez-vous</a
          >
        </li>
        <li>
          <a href="code-of-conduct-fr.html" class="button fit">Règlement</a>
        </li>
      </ul>
    </div>
  </section>

  <!-- Partners -->

  <!--
		<ul class="icons major">
		<li><span class="icon fa-bell major style1"><span class="label">Lorem</span></span></li>
		<li><span class="icon fa-heart major style2"><span class="label">Ipsum</span></span></li>
		<li><span class="icon solid fa-code major style3"><span class="label">Dolor</span></span></li>
		</ul>
	-->

  <!-- Footer -->
  <footer id="footer">
    <header class="major">
      <div class="row-logos">
        <div class="column-logos">
          <img src="" alt="" style="width:30%;height:30;" />
        </div>
        <div class="column-logos">
          <img src="" alt="" style="width:30%;height:30;" />
        </div>
        <div class="column-logos">
          <a
            href="https://welcometomygarden.org/?utm_source=velotourfestival.be&utm_medium=web&utm_campaign=velotour_23_web"
            target="_blank"
            ><img
              src="images/Welcometomygarden.png"
              alt="Welcome To My Garden"
              style="width:80%;height:80%;"
            /></a
          >
        </div>
        <div class="column-logos">
          <a href=""></a>
        </div>
        <div class="column-logos">
          <img src="" alt="" style="width:30%;height:30;" />
        </div>
      </div>
    </header>
    <ul class="icons">
      <li>
        <a
          href="https://www.facebook.com/Welcome2mygarden"
          class="icon brands fa-facebook-f"
          ><span class="label">Facebook</span></a
        >
      </li>
      <li>
        <a
          href="https://www.instagram.com/welcometomygarden_org/"
          class="icon brands fa-instagram"
          ><span class="label">Instagram</span></a
        >
      </li>
      <li>
        <a
          href="https://github.com/WelcometoMyGarden/tourfestival"
          class="icon brands fa-github"><span class="label">Github</span></a
        >
      </li>
      <li>
        <a
          href="mailto:support@welcometomygarden.org?Subject=Velotour%20Festival"
          class="icon solid fa-envelope"><span class="label">Email</span></a
        >
      </li>
    </ul>
    <ul class="copyright">
      <li>&copy; Velotour Festival</li><li>
        Design: <a href="http://html5up.net">HTML5 UP</a>
      </li>
    </ul>
  </footer>
</Layout>
