---
import Layout from "../layouts/Layout.astro";
import ReviewsSection from "../lib/ReviewsSection.astro";
---

<Layout>
  <Fragment slot="meta">
    <meta
      property="og:description"
      content="100 enthousiaste fietsers van over heel het land komen samen om 3 dagen door België te fietsen, hun passie voor fietsreizen te delen en samen een leuke tijd te beleven."
    />
    <meta
      property="og:keywords"
      content="fietsreis, België, fietsen, festival, toer"
    />
    <meta
      name="twitter:description"
      content="100 enthousiaste fietsers van over heel het land komen samen om 3 dagen door België te fietsen, hun passie voor fietsreizen te delen en samen een leuke tijd te beleven."
    />
    <meta name="twitter:url" content="https://velotourfestival.be/nl" />
    <meta name="og:url" content="https://velotourfestival.be/fr" />
  </Fragment>

  <!-- Header -->
  <header id="header" class="alt">
    <h1><a href="index.html">Velotour Festival</a></h1>
    <nav id="nav">
      <ul>
        <li class="special">
          <a href="#menu" class="menuToggle"><span>Menu</span></a>
          <div id="menu">
            <ul>
              <li>
                <a href="index.html">Hoofdpagina</a>
              </li>
              <li>
                <a href="code-of-conduct-nl.html">Gedragscode</a>
              </li>
              <li>
                <a href="budget-nl.html">Kostprijs per deelnemer</a>
              </li>
              <!-- <li><a href="#">Sign Up</a></li>
															<li><a href="#">Log In</a></li> -->
            </ul>
          </div>
        </li>
      </ul>
    </nav>
    <a href="nl.html"
      ><button class="btn-nl" body style="background-color: #E48F2C">NL</button
      ></a
    >
    <a href="fr.html"><button class="btn-fr">FR</button></a>
    <a href="index.html"><button class="btn-eng">EN</button></a>
  </header>

  <!-- Banner -->
  <section id="banner">
    <video
      class="bg-video bg-video--desktop"
      alt="A background video trailer for the Velotour Festival"
      preload="auto"
      muted=""
      loop=""
      autoplay=""
      playsinline="true"
      isbgvideo="true"
    >
      <source
        type="video/mp4"
        src="https://storage.googleapis.com/wtmg-static/velotour/velotour_homepage_2000_3.mp4"
      />
      <button class="id">Play</button>
    </video>
    <div class="banner__logo">
      <img
        src="./images/Velotourfestival-logo.png"
        alt="Velotour Festival logo"
      />
    </div>
    <div class="inner">
      <h2>Velotour Festival</h2>
      <p>
        Een 3-daagse fietsreis door België, van 15 tot 17 mei en van 23 tot 25
        mei 2026.
        <!-- crafted by <a href="http://html5up.net">HTML5 UP</a>.</p>-->
      </p>
    </div>
    <ul class="actions special">
      <li>
        <a
          href="https://register.velotourfestival.be/nl"
          target="_blank"
          class="button primary">Schrijf je nu in</a
        >
      </li>
    </ul>

    <p>
      "Mijn favoriete weekend van het jaar!"<br />
    </p>
    <a href="#one" class="more scrolly">Leer meer</a>
  </section>

  <!-- One -->
  <section id="one" class="wrapper style1 special">
    <div class="inner">
      <header class="major">
        <h2>
          Doe mee aan de zesde editie van ons jaarlijkse community-evenement
        </h2>
        <p>
          100 enthousiaste fietsers komen samen om 3 dagen door België te
          fietsen, hun passie voor traag reizen te delen en samen een leuke tijd
          te beleven. Je kan kiezen tussen twee weekends: van 15 tot 17 mei en
          van 23 tot 25 mei 2026. Dit festival wordt georganiseerd door Welcome
          To My Garden.
        </p>
      </header>
      <!--
				<ul class="icons major">
				<li><span class="icon fa-bell major style1"><span class="label">Lorem</span></span></li>
				<li><span class="icon fa-heart major style2"><span class="label">Ipsum</span></span></li>
				<li><span class="icon solid fa-code major style3"><span class="label">Dolor</span></span></li>
				</ul>
			-->
    </div>
  </section>

  <!-- Two -->
  <section id="two" class="wrapper alt style2">
    <section class="spotlight">
      <div class="image">
        <img src="images/departure.png" alt="" />
      </div><div class="content">
        <h2>DAG 1</h2>
        <p>
          Verzamelen om 10:00 bij een makkelijk te bereiken treinstation. Na een
          briefing beginnen we aan onze eerste fietsdag (40, 60 of 80 km). 's
          Avonds eten we samen en delen we verhalen, ideeën en inspiratie.
          Kamperen op een veld in een klein dorp.
        </p>
      </div>
    </section>
    <section class="spotlight">
      <div class="image">
        <img src="images/Camping.png" alt="" />
      </div><div class="content">
        <h2>DAG 2</h2>
        <p>
          Start van de dag met een gezond ontbijt. Keuze tussen een rit van 40,
          60 of 80 km naar onze tweede bestemming. 's Avonds eten we samen en
          leren we elkaar beter kennen! Opnieuw een nachtje in de tent.
        </p>
      </div>
    </section>
    <section class="spotlight">
      <div class="image">
        <img src="images/cycling_velotour.png" alt="" />
      </div><div class="content">
        <h2>DAG 3</h2>
        <p>
          Laatste gezamenlijk ontbijt voor een laatste rit van 40, 60 of 80 km.
          Het festival eindigt bij een treinstation met goede treinverbindingen.
          Tot slot een afscheidsdrink en tot volgend jaar!
        </p>
      </div>
    </section>
  </section>

  <!-- Three -->
  <section id="three" class="wrapper style3 special">
    <div class="inner">
      <header class="major">
        <h2>Alles wat je moet weten</h2>
        <p>
          We willen je vragen om deze FAQ sectie goed door te nemen zodat je
          weet waarvoor je je inschrijft. Indien je het antwoord op jouw vraag
          hieronder niet vindt, gelieve een mail te sturen naar
          support@welcometomygarden.org.
        </p>
      </header>
      <ul class="features">
        <li class="icon fa-heart">
          <h3>Waarom dit Festival</h3>
          <p>
            Verkennen met de fiets laat je tot leven komen. Het is een unieke
            manier om een regio te ontdekken. Wat als je dat kan combineren met
            andere enthousiastelingen te ontmoeten en samen een leuke tijd kan
            doorbrengen?<br /><br />Het Velotour Festival geeft je de kans om te
            reizen met de fiets en leuke mensen te ontmoeten.
          </p>
        </li>
        <li class="icon fa-paper-plane">
          <h3>Voor wie?</h3>
          <p>
            Voor zowel nieuwsgierigen op zoek naar een eerste ervaring als
            fietsreiziger als meer ervaren fietsreizigers die hun passie en
            verhalen willen delen.<br /><br />Van soloreizigers tot families,
            iedereen is welkom. Als je wilt deelnemen met je 5 beste vrienden,
            vrezen we dat je geen tijd gaat hebben om anderen te ontmoeten, dus
            liefst geen groepen!
          </p>
        </li>
        <li class="icon fa-paper-plane">
          <h3>Uitrusting</h3>
          <p>
            Kom met jouw eigen fiets. Je dient je eigen fietstassen inclusief
            kampeermateriaal (tent, slaapzak en matras) en een reparatiekit te
            dragen.<br /><br />Als je over geen eigen materiaal beschikt, mag je
            dat niet weerhouden om deel te nemen; vraag hulp aan een vriend of
            laat een commentaar in het inschrijvingsformulier.
          </p>
        </li>
        <li class="icon solid fa-laptop">
          <h3>Bijdrage deelnemers</h3>
          <p>
            140 euro per persoon (70 euro per kind & gratis voor kinderen t.e.m.
            2 jaar), inclusief 2x ontbijt, 2x avondmaal, basisfaciliteiten,
            logistiek, coördinatie, verzekering en enkele andere kleinere kosten
            (overhead). Lunch & drank zijn exclusief.<br /><br />Bekijk <a
              href="budget-nl.html">het volledige budget hier</a
            >.
          </p>
        </li>
        <li class="icon solid fa-headphones-alt">
          <h3>Fietsdagen</h3>
          <p>
            3 dagen met afstanden van 40, 60 of 80 km. We fietsen niet samen in
            één grote groep. Het is een evenement van 3 dagen en het is niet
            mogelijk om slechts voor één dag deel te nemen. Je ontvangt meer
            informatie over de route vooraf en tijdens de briefing op de eerste
            dag.
          </p>
        </li>
        <li class="icon fa-heart">
          <h3>Activiteiten</h3>
          <p>
            's Avonds worden er sociale activiteiten rond fietsreizen
            organiseerd. Laat ons zeker wat jouw suggesties zijn in het
            inschrijvingsformulier. Deze activiteiten vinden niet plaats naast
            de tenten waardoor je ook kan rusten als je moe bent.
          </p>
        </li>
        <li class="icon fa-thumbs-up">
          <h3>Organisatie</h3>
          <p>
            Dit festival is een community-evenement. Tijdens het festival worden
            alle deelnemers gevraagd om 's morgens of 's avonds een handje te
            helpen.<br /><br />Je inschrijving kan niet worden doorverkocht aan
            iemand anders. Je kan tot één maand voor het festival annuleren en
            een volledige terugbetaling krijgen. Je kan alleen van weekend
            wisselen als er nog beschikbaarheid is.
          </p>
        </li>
        <li class="icon fa-thumbs-up">
          <h3>Verzekering</h3>
          <p>
            Hoewel er een verzekering wordt afgesloten voor burgerlijke
            aansprakelijkheid en lichamelijke ongevallen voor de vrijwilligers
            en een basisverzekering voor lichamelijke ongevallen voor alle
            deelnemers, neemt iedereen deel op eigen risico en
            verantwoordelijkheid. Op de eerste dag tekenen alle deelnemers een
            disclaimer waarbij afstand wordt gedaan van iedere
            aansprakelijkheidsvordering ten aanzien van de vrijwillige groep van
            organisatoren. Bovendien dient iedereen de wegcode te respecteren.
          </p>
        </li>
        <li class="icon fa-thumbs-up">
          <h3>Gedragscode</h3>
          <p>
            Tijdens het Velotour Festival ga je nieuwe mensen ontmoeten. Hierbij
            is het van belang om open te zijn tegenover andere deelnemers en
            akkoord te gaan met <a href="code-of-conduct-nl.html"
              >onze gedragscode</a
            >.
          </p>
        </li>
        <li class="icon fa-thumbs-up">
          <h3>Talen</h3>
          <p>
            Het Velotour Festival wordt op zijn Belgisch georganiseerd: een
            goede mix van Engels, Frans, Duits en Nederlands. Welke taal je ook
            spreekt, we vinden altijd wel een manier om te communiceren.
          </p>
        </li>
      </ul>
    </div>
  </section>
  <ReviewsSection>
    <Fragment slot="title">Wat deelnemers zeggen</Fragment>
  </ReviewsSection>
  <!-- CTA -->
  <section id="cta" class="wrapper style4">
    <div class="inner">
      <header>
        <h2>Nog even enthousiast?</h2>
        <p>
          Schrijf je in nu want eerst gekomen, eerst bediend!<br />We hopen je
          te ontmoeten op het Velotour Festival.
        </p>
      </header>
      <ul class="actions stacked">
        <li>
          <a
            href="https://register.velotourfestival.be/nl"
            target="_blank"
            class="button fit primary">Schrijf je in</a
          >
        </li>
        <li>
          <a href="code-of-conduct-nl.html" class="button fit">Gedragscode</a>
        </li>
      </ul>
    </div>
  </section>

  <!-- Partners -->

  <!--
		<ul class="icons major">
		<li><span class="icon fa-bell major style1"><span class="label">Lorem</span></span></li>
		<li><span class="icon fa-heart major style2"><span class="label">Ipsum</span></span></li>
		<li><span class="icon solid fa-code major style3"><span class="label">Dolor</span></span></li>
		</ul>
	-->

  <!-- Footer -->
  <footer id="footer">
    <header class="major">
      <div class="row-logos">
        <div class="column-logos">
          <img src="" alt="" style="width:30%;height:30;" />
        </div>
        <div class="column-logos">
          <img src="" alt="" style="width:30%;height:30;" />
        </div>
        <div class="column-logos">
          <a
            href="https://welcometomygarden.org/?utm_source=velotourfestival.be&utm_medium=web&utm_campaign=velotour_23_web"
            target="_blank"
            ><img
              src="images/Welcometomygarden.png"
              alt="Welcome To My Garden"
              style="width:80%;height:80%;"
            /></a
          >
        </div>
        <div class="column-logos">
          <a href=""></a>
        </div>
        <div class="column-logos">
          <img src="" alt="" style="width:30%;height:30;" />
        </div>
      </div>
    </header>
    <ul class="icons">
      <li>
        <a
          href="https://www.facebook.com/Welcome2mygarden"
          class="icon brands fa-facebook-f"
          ><span class="label">Facebook</span></a
        >
      </li>
      <li>
        <a
          href="https://www.instagram.com/welcometomygarden_org/"
          class="icon brands fa-instagram"
          ><span class="label">Instagram</span></a
        >
      </li>
      <li>
        <a
          href="https://github.com/WelcometoMyGarden/tourfestival"
          class="icon brands fa-github"><span class="label">Github</span></a
        >
      </li>
      <li>
        <a
          href="mailto:support@welcometomygarden.org?Subject=WTMG%20Tour%20Festival"
          class="icon solid fa-envelope"><span class="label">Email</span></a
        >
      </li>
    </ul>
    <ul class="copyright">
      <li>&copy; Velotour Festival</li><li>
        Design: <a href="http://html5up.net">HTML5 UP</a>
      </li>
    </ul>
  </footer>
</Layout>
